<div class="board">
    {{#if game.hasEnded}}
        <h1>{{../game.playerThatWon.name}} heeft gewonnen!</h1>
    {{/if}}
    <h2>{{player1.name}}</h2>
    <div class="game">
        <div class="gravahal red">{{player1.gravahal.stones}}</div>
        <div class="rest">
            {{#each player1.pits}}
                <div class="pit red">
                    {{#if ../player1ToMove}}
                        {{#if stones}}
                        <form method="post" action="#/rounds">
                            <input type="hidden" name="game_id" value="{{../../../game._id}}"/>
                            <input type="hidden" name="player_name" value="{{../../../game.currentPlayerToMove.name}}"/>
                            <input type="hidden" name="chosen_pit" value="{{number}}"/>
                            <input type="submit" value="{{stones}}" name="{{number}}" class="pit red"/>
                        </form>
                        {{else}}
                            {{stones}}
                        {{/if}}
                    {{else}}
                        {{stones}}
                    {{/if}}
                </div>
            {{/each}}

            <div class="clear"></div>
            {{#each player2.pits}}
                <div class="pit green">
                    {{#unless ../player1ToMove}}
                        {{#if stones}}
                        <form method="post" action="#/rounds">
                            <input type="hidden" name="game_id" value="{{../../../game._id}}"/>
                            <input type="hidden" name="player_name" value="{{../../../game.currentPlayerToMove.name}}"/>
                            <input type="hidden" name="chosen_pit" value="{{number}}"/>
                            <input type="submit" value="{{stones}}" name="{{number}}" class="pit green"/>
                        </form>
                        {{else}}
                            {{stones}}
                        {{/if}}
                    {{else}}
                        {{stones}}
                    {{/unless}}
                </div>
            {{/each}}
        </div>
        <div class="gravahal green">{{player2.gravahal.stones}}</div>
    </div>
    <div class="clear"></div>
    <h2>{{player2.name}}</h2>
</div>