<form method="post" action="#/new_game">
    <input type="text" name="player1_name" placeholder="Naam eerste speler"/>
    <input type="text" name="player2_name" placeholder="Naam tweede speler"/>
    <input type="submit" value="Begin spel"/>
</form>